html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
}

button.active {
  background-color: #868e96;
  color: #fff;
}

.error {
  background-color: #ffc9c9;
}
.no-error {
  background-color: transparent;
}
#ion-arrow-down {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}
